/* Homepage */

/* Header */
Body {
    background-color: #F6EEE5;
    font-family: 'Quicksand', sans-serif;
    font-style: medium;
    font-weight: 500;
    color: #222E4A; 
    width: 1728px;
}

nav {
    display: inline-block;
    width: 73%;
    height: 126px;
    padding: 1%;
}

.logo, .topNav {
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    display: flex;
    position: absolute;
    width: 126px;
    height: 73px;
    left: 120px;
    top: 50px;
    bottom: 5px;
  }

.topNav{
    display: flex;
    position: absolute;
    top: -30px;
    left: 600px;
    font-size: 24px;
    line-height: 30px;
   
}

.topNav a {
    vertical-align: top;
    padding: 100px;
    color: #222E4A;
    text-decoration: none;

}


/* hero section */

.eleFoot {
    display: flex;
    position: absolute;
    left: 0px;
    top: 126px;
    width: 100%;
}

.left img{
    display: flex;
    position: absolute;
    width: 732px;
    height: 263px;
    left: 246px;
    top: 408px;
}

/* Download CV */

.left button {
    display: inline-block;
    flex-direction: row;
    padding: 18px 25px;
    gap: 10px;
    text-align: center;
    
    position: absolute;
    width: 203px;
    height: 56px;
    left: 246px;
    right: 1279px;
    top: 671px;
    
    background: #222E4A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30.53px;

    font-family: 'Quicksand';
    font-style: medium;
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    color: #F6EEE5;
    
/* identical to box height, or 83% */
    
    }
    
   

/* image of self*/

.right img{
    display: flex;
    position: absolute;
    width: 604.58px;
    height: 621px;
    left: 1002px;
    top: 257px;

    filter: drop-shadow(0px 3.30371px 3.30371px rgba(0, 0, 0, 0.25));
    }

/* project styles*/
.projects {
    width: 100%;
    margin: 0 auto;

}

.projects img{
    position: absolute;
    text-align: center;
    color: #222E4A;
    width: 469px;
    height: 102px;
    left: 123.56px;
    top: 740px;

    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
    transform: rotate(2.6deg);

}

.htext {
position: absolute;
 width: 276px;
 height: 110px;
 left: 202px;
 top: 900px;
 
 font-family: 'Cheddar Jack';
 font-style: normal;
 font-weight: 400;
 font-size: 136px;
 line-height: 136px;
 
 color: #222E4A;
 
 text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.25);
   }

.allprojects {
    top: 1236px;
    left: 363px;
    box-sizing: border-box;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    
    
}

.project1, .project2, .project3 {
    display: flex;
    width: 994px;
    height: 525px;
    align-items: flex-end;
    margin-bottom: 20px;
    text-align: left;
  
}

.project1 {
    margin-top:20px;
    background: #CDA5AD;
    border: 0.787639px solid #222E4A;
    box-shadow: 7.87639px 7.87639px 6.30111px rgba(0, 0, 0, 0.5);

}

.project2 {
    background: #F2D8CE;
    border: 0.787639px solid #222E4A;
    box-shadow: 7.87639px 7.87639px 6.30111px rgba(0, 0, 0, 0.5);

}

.project3 {
    background: #D29431;
    border: 0.787639px solid #222E4A;
    box-shadow: 7.87639px 7.87639px 6.30111px rgba(0, 0, 0, 0.5);
}



h2 {
    width: 407.5px;
    height: 75px;
    font-family: 'Caveat Brush', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 150%;
    /* identical to box height, or 75px */

    color: #222E4A;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    padding-left: 50px;
    top: 112px;

}

.allprojects button {
    /* View Project */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 14.1775px 25.2044px;
gap: 7.88px;

width: 133.41px;
height: 44.35px;

background: #F6EEE5;
box-shadow: 0px 3.15055px 3.15055px rgba(0, 0, 0, 0.25);
border-radius: 24.0466px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;

}



/* footer*/
.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 385px;
    left: 0px;
    top: 3106.67px;
    background: #CDA5AD;
   
}

 
.inline {
position: absolute;
height: 53px;
top: 3299.67px;
padding: 52px;
display: flex;
align-items: center;
color: #222E4A;
}

   /* Email */
.em {
    width: 353px;
    left: 683px;

}


/* linkedin */

.in {
width: 220px;
left: 415px;
}

/* phone */

.pn {
    width: 225px;
    left: 1088px;
    }

/* Copyright © 2023 phdesigns. All Rights Reserved. */

p {
position: relative;
width: 553px;
height: 30px;
left: 579px;
top: 3433.67px;
/* identical to box height */

display: flex;
align-items: center;

color: #222E4A;
font-family: 'Quicksand', sans-serif;


}



