/* Homepage */
Body {
    background-color: #F6EEE5;
    font-family: 'Quicksand';
    font-style: medium;
    color: #222E4A; 
}

nav {
    display: inline-block
    width auto;
    height: 126px;
    padding: 4px;
}

.logo {
    position: absolute;
    width: 126px;
    height: 73px;
    left: 120px;
    top: 50px;
    bottom: 5px;
  }



.inline-block {
    display: inline-block;
    padding: 136px;
    position: relative;
    width: 68px;
    height: 35px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;

}

.inline-block Home {
    left: 877px;
    top: 74px;
}


.inline-block About {
    
    left: 1082px;
    top: 74px;
    
}

.inline-block Projects {

    left: 1288px;
    top: 74px;
    
}

.inline-block Contact {
    
    left: 1518px;
    top: 74px;
}


/* hero section */

.eleFoot {
    position: absolute;
    width: 1728px;
    height: 884px;
    left: 0px;
    top: 126px;
    background-image: url("images/bkgrnd repeat 50.2 .png");

}

/* Download CV */

.left button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 25px;
    gap: 10px;
    
    position: absolute;
    width: 203px;
    height: 56px;
    left: 238px;
    top: 671px;
    
    background: #222E4A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30.53px;
    
     /* Inside auto layout */
     flex: none;
     order: 0;
     flex-grow: 0;
    
     font-family: 'Quicksand';
     font-style: medium;
     font-weight: 500;
     font-size: 24px;
     line-height: 20px;
     /* identical to box height, or 83% */
    
    
     color: #F6EEE5;
    
    
    }
    
    .left{
        position: absolute;
        width: 732px;
        height: 263px;
        left: 246px;
        top: 408px;
    }

/* image of self*/

.right {
position: absolute;
width: 604.58px;
height: 621px;
left: 1002px;
top: 257px;

filter: drop-shadow(0px 3.30371px 3.30371px rgba(0, 0, 0, 0.25));
}

/* section*/
.projects {
    position: absolute;
    width: 1728px;
    height: 2097px;
    left: 0px;
    top: 1010px;
    padding-left:2em;
  padding-right:2em;

}

.allprojects {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    width: 407.5px;
    height: 75px;

    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 150%;
    /* identical to box height, or 75px */


    color: #222E4A;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.allprojects button {
    /* View Project */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 14.1775px 25.2044px;
gap: 7.88px;

width: 133.41px;
height: 44.35px;

background: #F6EEE5;
box-shadow: 0px 3.15055px 3.15055px rgba(0, 0, 0, 0.25);
border-radius: 24.0466px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;

}


.project1, .project2, .project3{
    box-sizing: border-box;

    position: absolute;
    width: 994px;
    height: 525.36px;
    left: 363px;
    top: 1236.6px;
    padding: 20px;
    margin-top: 20px;

    border: 0.787639px solid #222E4A;
    box-shadow: 7.87639px 7.87639px 6.30111px rgba(0, 0, 0, 0.5);


}


.project1 {
    
    background: #CDA5AD;

}
    

.project2 {

    background: #F2D8CE;

}

.project3 {

    background: #D29431;

}


/* footer*/
.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 385px;
    left: 0px;
    top: 3106.67px;
    background: #CDA5AD;
   
}

 
.inline {
position: absolute;
height: 53px;
top: 3299.67px;
padding: 52px;
display: flex;
align-items: center;
color: #222E4A;
}

   /* Email */
.em {
    width: 353px;
    left: 683px;

}


/* linkedin */

.in {
width: 220px;
left: 415px;
}

/* phone */

.pn {
    width: 225px;
    left: 1088px;
    }

/* Copyright © 2023 phdesigns. All Rights Reserved. */

p {
position: relative;
width: 553px;
height: 30px;
left: 579px;
top: 3433.67px;
/* identical to box height */

display: flex;
align-items: center;

color: #222E4A;

}



